.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

header, footer {background: black;color:white;}

.nav {background:#eee;}

.nav ul {
    list-style-type: none;
	padding: 0;
}
			
.nav ul a {
	text-decoration: none;
}

.nav ul a:link, a:visited {
	color: blue;
}

.nav ul a:hover, a:active {
	color: red;
}

table#selectAllTable {
	width: 100%;
	background-color: #f1f1c1;
	text-align: left;
	border-collapse: collapse;
} 

table#selectAllTable th {
	color: white;
	background-color: black;
} 

table#selectAllTable th, td{
	border: 1px solid black;
} 

@media all and (min-width: 768px) {
    .nav {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
    .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    footer {-webkit-order:3;order:3;}
}

.error {color: #FF0000;}

input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

